.container {
    display: grid;
    grid-template-columns: 5fr 1fr;

}

.paper {
    padding: 20px;
    margin: 20px;
}

.calculator {
    display: flex;
    justify-content: space-between;
}

.input-box {
}

#select {
}

.form-control {
    background-color: white;
    padding: 20px;
    width: 300px;
}

span {
    color: black;
}

.convert-cups-switch {
    margin-bottom: 20px;
}