.App {
  text-align: center;
  background-color: #282c34;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 15fr 15fr;
  grid-template-rows: 60vh 60vh;
  grid-gap: 20px;
}

.footer {
  padding: 25px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}